<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PAKS</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
      <nav class="navbar navbar-default">
       <div class="container-fluid">
          <div class="navbar-header">
            <img style="height: 50px; width: 70px;" src="/images/logo.png">
          </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="">PAKS</a></li>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/users/register">Register</a></li>
          <li><a href="/users/change">Change Password</a></li>
        </ul>
    </div>
  </nav>

	<div class="container" style="width: 100%">
      <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="success" class="alert alert-success"></div>
            <div id="danger" class="alert alert-danger"></div>
          {{{body}}}
        </div>
      </div>
    </div> <!-- /container -->
</body>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/ecc.min.js"></script>
<script src="/js/crypto.js"></script>
</html>
